# General directories, particularly in root.
.devcontainer/
.github/
.pnpm-store/
.vscode/
blob/
diagram/
node_modules/

# Other general directories, not in root.
dist/

# Package-specific ignores.
packages/backend/nexus-typegen.d.ts
packages/database/src/generated
packages/frontend/.next
packages/frontend/src/generated
