APP_NAME=himalayan-drumming

# Client
NEXT_PUBLIC_API_ROOT_ENDPOINT=/api

# Server
POSTGRES_USER=dhol_server
POSTGRES_PASSWORD=
POSTGRES_DB=dhol
DATABASE_URL="postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@database:5432/$POSTGRES_DB"
